In [4]:
data = open('dataset-CalheirosMoroRita-2017.csv',encoding='ISO-8859-1').read()

In [5]:
# data.split('\n')

In [6]:
data = data.split('\n')

In [7]:
data[-2]

'I will be happy to do an event or come back to you with my family again.        "'

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
vec = CountVectorizer(stop_words='english',max_features=20)

In [10]:
X = vec.fit_transform(data)
X

<653x20 sparse matrix of type '<class 'numpy.int64'>'
	with 1474 stored elements in Compressed Sparse Row format>

In [11]:
# makes array with count of tokens
m=X.toarray()

In [12]:
import pandas as pd
from sklearn import metrics
df=pd.DataFrame(m)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,1,0,1,1,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
vec.get_feature_names()[df[0][1]]

'amazing'

In [14]:
vec.get_feature_names()

['amazing',
 'areas',
 'beautiful',
 'come',
 'experience',
 'fantastic',
 'food',
 'great',
 'hotel',
 'nice',
 'place',
 'restaurant',
 'room',
 'seixo',
 'service',
 'staff',
 'stay',
 'thank',
 'time',
 'wonderful']

In [15]:
score_list=[]
for i in range (len(df.iloc[0])):
    for j in range (1,len(df.iloc[0])):
        pos=(i,j)
        score=metrics.mutual_info_score(df[i],df[j])
        score_list.append((pos,score))

score_list.sort()

In [65]:
c=CountVectorizer(stop_words='english')

In [20]:
score_list[0][1]

0.005470395088881837

In [16]:
# print(score_list[0][1])
for k in range (50):
            print(vec.get_feature_names()[score_list[k][0][0]],end=" ")
            print(vec.get_feature_names()[score_list[k][0][1]],end='\n')

amazing areas
amazing beautiful
amazing come
amazing experience
amazing fantastic
amazing food
amazing great
amazing hotel
amazing nice
amazing place
amazing restaurant
amazing room
amazing seixo
amazing service
amazing staff
amazing stay
amazing thank
amazing time
amazing wonderful
areas areas
areas beautiful
areas come
areas experience
areas fantastic
areas food
areas great
areas hotel
areas nice
areas place
areas restaurant
areas room
areas seixo
areas service
areas staff
areas stay
areas thank
areas time
areas wonderful
beautiful areas
beautiful beautiful
beautiful come
beautiful experience
beautiful fantastic
beautiful food
beautiful great
beautiful hotel
beautiful nice
beautiful place
beautiful restaurant
beautiful room

In [17]:
print(len(score_list))

380

In [66]:
matrix=c.fit(corpus)

In [67]:
matrix.vocabulary_

{'sam': 1, 'class': 0, 'student': 2}

In [68]:
c.get_feature_names()

['class', 'sam', 'student']

In [69]:
import pandas as pd

In [70]:
X=c.transform(corpus)

In [71]:
X

<3x3 sparse matrix of type '<class 'numpy.int64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [72]:
X.toarray()

array([[0, 2, 0],
       [1, 1, 0],
       [0, 1, 1]])

In [73]:
corpus

['i am sam sam i', 'sam i am is class ', 'i am sam student']

In [74]:
print(X)

  (0, 1)	2
  (1, 0)	1
  (1, 1)	1
  (2, 1)	1
  (2, 2)	1

In [75]:
df=pd.DataFrame(X.toarray(),columns=c.get_feature_names())

In [90]:
df

   class  sam  student
0      0    2        0
1      1    1        0
2      0    1        1

In [86]:
from sklearn import metrics

In [97]:
temp2 = metrics.mutual_info_score(df['class'],df['sam'])

In [98]:
temp2

0.1744160479215161

In [1]:
a = "      yo!      "
b = a.strip() # this will remove the white spaces that are leading and trailing

In [2]:
a

'      yo!      '

In [3]:
b

'yo!'

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import metrics
import numpy as np
import pandas as pd

def get_data(filename):                 #Function to open file and format data
    data = open(filename,encoding='ISO-8859-1').read()        
    data = data.split('\n')             #The data set has each review in a new line hence we split with \n

    del data[0]                         #The first line in the dataset is the title "Reviews" sp we remove it
    del data[-1]                        #The last line is an extra empty line so we remove it

    for x in range(len(data)):                          #This iterates over the dataset
        data[x] = data[x].replace('"','')               #Some review are in quotations so we remove these
        data[x] = data[x].strip().upper().lower()       #We remove any whitespaces and convert all data to lowercase

    return data

def get_scores(vsm):                                            #Takes in a Vectorized dataset and calculates and returns a list of scores with the associated word pairs
    X = []
    for i in range(len(vsm.iloc[0])):                           #Iterating for each column
        for j in range(i+1, len(vsm.iloc[0])):                  
            temp = (i,j)                                        #i is the first word and j is the second word, this loop will find the mutual information score of each word with each other word and we store the indices of both the words in a tuple
            temp2 = metrics.mutual_info_score(vsm[i],vsm[j])    #Calculates the mutual information score given two vectors so we gove it the frequecy of two words in each document in the form of a vector 
            temp3 = (temp,temp2)                                #Stores the indices of the 2 words (tuple) and their MI score in another tuple
            X.append(temp3)                                     #Each element in this list take the form of ((x,y),z) where x and y are the indices of the two words in our vectorized dataset and z is their MI score
    
    return X

def get_dataframe(top_pairs):                                   #Takes in a integer n as a parameter and returns a dataframe having the top n associated pairs of words according to their MI scores
    temppairs = []
    for x in range(top_pairs):
        temp = []
        for y in range(2):
            temp.append(vec.get_feature_names()[TopScores[x][0][y]])       #The data in TopScores is in the form ((x,y),z) where x and y are indices of the word pairs in the vectorized dataset vocabulary so we pass x and y to the vocab and store them in a list
        temppairs.append(temp)                                             
    
    return pd.DataFrame(temppairs)


data = get_data("dataset-CalheirosMoroRita-2017.csv")
vec = CountVectorizer(max_features = 15, stop_words='english')      #Converts the dataset into a Vector Space Model. The features have been limited to 15 for ease of computation
output = vec.fit_transform(data)
matrix = output.toarray()                                           

datavec = pd.DataFrame(matrix)                                      #Converts the Vectorized data into a dataframe

X = get_scores(datavec)                                             #Gets the MI score for each pair of words

Scores = []
for i in X:
    Scores.append(i[1])                                             #Creates a list of just the calculated scores

Y = np.argsort(Scores, axis = 0)                                    #Gets a list of indices that sort our scores in ascending order

TopScores = []
for x in range(1,len(X)):                                           #Creates a sorted list of Words pairs and scores in descending order
    num = -x
    TopScores.append(X[Y[num]])

pairs = get_dataframe(50)

print("Top 50 word pair associations are: ")
pairs

Top 50 word pair associations are:

             0           1
0         come       place
1        hotel        room
2        hotel       place
3      amazing        food
4      amazing       place
5        thank   wonderful
6        hotel       staff
7         stay       thank
8         food       staff
9      amazing        room
10       place       thank
11     amazing       hotel
12        come        room
13   beautiful       place
14        stay   wonderful
15        food        room
16       great       hotel
17        food       place
18       hotel        stay
19  experience        stay
20  experience       hotel
21        nice        room
22       staff       thank
23     amazing        come
24        room       staff
25        food        nice
26       hotel        time
27     amazing       staff
28       place   wonderful
29        food       hotel
30  experience        food
31        food        stay
32       hotel       thank
33     amazing  experience
34  experience        nice
35       staff   wonderful
36       hotel        nice
37        room   wonderful
38        come       hotel
39  experience        room
40       staff        stay
41     amazing       thank
42  experience       staff
43       place       staff
44        food       thank
45   beautiful        nice
46        food       great
47   beautiful       thank
48        room        stay
49       thank        time