In [4]:
data = open('dataset-CalheirosMoroRita-2017.csv',encoding='ISO-8859-1').read()

In [5]:
# data.split('\n')

In [6]:
data = data.split('\n')

In [7]:
data[-2]

'I will be happy to do an event or come back to you with my family again.        "'

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
vec = CountVectorizer(stop_words='english',max_features=20)

In [10]:
X = vec.fit_transform(data)
X

<653x20 sparse matrix of type '<class 'numpy.int64'>'
	with 1474 stored elements in Compressed Sparse Row format>

In [11]:
# makes array with count of tokens
m=X.toarray()

In [12]:
import pandas as pd
from sklearn import metrics
df=pd.DataFrame(m)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,1,0,1,1,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
vec.get_feature_names()[df[0][1]]

'amazing'

In [14]:
vec.get_feature_names()

['amazing',
 'areas',
 'beautiful',
 'come',
 'experience',
 'fantastic',
 'food',
 'great',
 'hotel',
 'nice',
 'place',
 'restaurant',
 'room',
 'seixo',
 'service',
 'staff',
 'stay',
 'thank',
 'time',
 'wonderful']

In [15]:
score_list=[]
for i in range (len(df.iloc[0])):
    for j in range (1,len(df.iloc[0])):
        pos=(i,j)
        score=metrics.mutual_info_score(df[i],df[j])
        score_list.append((pos,score))

score_list.sort()

In [16]:
# print(score_list[0][1])
for k in range (50):
            print(vec.get_feature_names()[score_list[k][0][0]],end=" ")
            print(vec.get_feature_names()[score_list[k][0][1]],end='\n')

amazing areas
amazing beautiful
amazing come
amazing experience
amazing fantastic
amazing food
amazing great
amazing hotel
amazing nice
amazing place
amazing restaurant
amazing room
amazing seixo
amazing service
amazing staff
amazing stay
amazing thank
amazing time
amazing wonderful
areas areas
areas beautiful
areas come
areas experience
areas fantastic
areas food
areas great
areas hotel
areas nice
areas place
areas restaurant
areas room
areas seixo
areas service
areas staff
areas stay
areas thank
areas time
areas wonderful
beautiful areas
beautiful beautiful
beautiful come
beautiful experience
beautiful fantastic
beautiful food
beautiful great
beautiful hotel
beautiful nice
beautiful place
beautiful restaurant
beautiful room

In [17]:
print(len(score_list))

380

In [65]:
c=CountVectorizer(stop_words='english')

In [66]:
matrix=c.fit(corpus)

In [67]:
matrix.vocabulary_

{'sam': 1, 'class': 0, 'student': 2}

In [68]:
c.get_feature_names()

['class', 'sam', 'student']

In [69]:
import pandas as pd

In [70]:
X=c.transform(corpus)

In [71]:
X

<3x3 sparse matrix of type '<class 'numpy.int64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [72]:
X.toarray()

array([[0, 2, 0],
       [1, 1, 0],
       [0, 1, 1]])

In [73]:
corpus

['i am sam sam i', 'sam i am is class ', 'i am sam student']

In [74]:
print(X)

  (0, 1)	2
  (1, 0)	1
  (1, 1)	1
  (2, 1)	1
  (2, 2)	1

In [75]:
df=pd.DataFrame(X.toarray(),columns=c.get_feature_names())

In [90]:
df

   class  sam  student
0      0    2        0
1      1    1        0
2      0    1        1

In [86]:
from sklearn import metrics

In [97]:
temp2 = metrics.mutual_info_score(df['class'],df['sam'])

In [98]:
temp2

0.1744160479215161

In [1]:
a = "      yo!      "
b = a.strip() # this will remove the white spaces that are leading and trailing

In [2]:
a

'      yo!      '

In [3]:
b

'yo!'